---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <style>
      @font-face {
        font-family: "JosefinSans";
        src: url("/fonts/josefin-sans/JosefinSans.ttf") format("truetype");
        font-weight: 100 900;
        font-stretch: 75% 100%;
        font-style: normal;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/inter/Inter.ttf") format("truetype");
        font-weight: 100 900;
        font-stretch: 75% 100%;
        font-style: normal;
      }

      * {
        box-sizing: border-box;
      }

      body {
        display: grid;
        min-height: 100dvh;
        grid-template-rows: 1fr auto;
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
