---
import ForgotPasswordForm from "../components/ForgotPasswordForm.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Trgtz - Forgot Password"
  description="Fill the following form to reset the password of your Trgtz user."
>
  <main class="pt-28 pb-8 bg-gray-100">
    <ForgotPasswordForm client:load />
  </main>
</Layout>