---
import Term from "../components/terms/Term.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Terms and Conditions"
  description="This page contains the terms and conditions that govern the use of our website. By accessing and using our website, you agree to comply with these terms and conditions. Please read them carefully before using our website."
>
  <main class="w-full p-8 mx-auto pt-28 sm:w-4/5 md:w-2/3 lg:w-1/2">
    <section>
      <h1 class="text-5xl font-medium font-josefin-sans sm:text-6xl">
        Terms and Conditions.
      </h1>
      <p class="text-xs text-gray-600 mb-4">Last update: 9/3/2024</p>
      <p class="text-gray-700">
        Welcome to Trgtz! By accessing or using our app, you agree to comply
        with and be bound by the following Terms and Conditions. Please read
        them carefully before using our service.
      </p>
    </section>

    <hr class="my-12" />

    <Term title="1. Acceptance of Terms">
      <p>
        By using Trgtz, you agree to these Terms and Conditions, as well as any
        future updates. If you do not agree to these terms, please do not use
        our app.
      </p>
    </Term>

    <Term title="2. Use of the App">
      <p>
        Trgtz allows you to set personal goals, share them with friends, and
        celebrate your achievements together. You are responsible for
        maintaining the confidentiality of your account and password, and for
        restricting access to your device.
      </p>
    </Term>

    <Term title="3. User Responsibilities">
      <p>
        You agree to use Trgtz for lawful purposes only. You must not: a) upload
        or share any content that is illegal, abusive, harmful, or otherwise
        violates any laws or regulations; b) use the app in a way that could
        damage or impair its functionality or security; and c) attempt to gain
        unauthorized access to other users' accounts or to any parts of our
        system.
      </p>
    </Term>

    <Term title="4. Data Privacy">
      <p>
        We value your privacy. Our <a
          class="text-primary-light hover:underline"
          href="privacy">Privacy Policy</a
        > outlines how we collect, use, and protect your personal information. By
        using Trgtz, you consent to the practices described in the Privacy Policy.
      </p>
    </Term>

    <Term title="5. Intellectual Property">
      <p class="mb-4">
        All content, trademarks, logos, and intellectual property related to
        Trgtz are owned by us or our licensors. This includes, but is not
        limited to, the app design, features, and original content.
      </p>
      <p class="mb-4">
        However, Trgtz also uses third-party resources, such as Material Icons,
        Material Components, and Google Fonts, which are the property of their
        respective owners and are used under their applicable licenses. You
        agree to comply with all third-party license agreements when using
        Trgtz.
      </p>
      <p>
        You may not reproduce, distribute, or create derivative works based on
        our content without our written permission, except as allowed by law or
        the terms of the third-party licenses.
      </p>
    </Term>

    <Term title="6. Limitation of Liability">
      <p>
        Trgtz is provided on an "as-is" and "as-available" basis. We do not
        guarantee that the app will be error-free or that it will always be
        available. We are not liable for any damages or losses resulting from
        your use of the app.
      </p>
    </Term>

    <Term title="7. Termination">
      <p>
        We reserve the right to suspend or terminate your access to Trgtz at any
        time, for any reason, including but not limited to violations of these
        Terms and Conditions.
      </p>
    </Term>

    <Term title="8. Changes to the Terms">
      <p>
        We may update these Terms and Conditions from time to time. If we make
        changes, we will notify you by posting the updated terms on the app or
        through other communication methods. Your continued use of the app after
        the changes take effect constitutes your acceptance of the new terms.
      </p>
    </Term>

    <Term title="9. Governing Law">
      <p>
        These Terms and Conditions are governed by and construed in accordance
        with the laws of Uruguay. Any disputes arising from these terms will be
        resolved in the courts of Uruguay.
      </p>
    </Term>

    <Term title="10. Contact Us">
      <p>
        If you have any questions about these Terms and Conditions, please
        contact us at <a
          class="text-primary-light hover:underline"
          href="mailto:hi@marppa.com">hi@marppa.com</a
        >.
      </p>
    </Term>
  </main>
</Layout>
