<footer
  class="bg-primary-dark flex flex-col justify-center items-center text-center p-10"
>
  <p class="text-gray-400 text-xs mb-1">
    © 2024 Trgtz. Almost all rights reserved.
  </p>
  <ul class="text-white text-sm flex gap-x-4">
    <li>
      <a class="underline-offset-2 hover:underline" href="#"
        >Terms and Conditions</a
      >
    </li>
    <li><a class="underline-offset-2 hover:underline" href="#">Privacy</a></li>
  </ul>
</footer>
